In [15]:
import pandas as pd

In [16]:
ano = 1977
file_name = f'OD_{ano}_from_dbx.csv'
df = pd.read_csv(file_name)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230606 entries, 0 to 230605
Data columns (total 76 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   ZONA      230606 non-null  int64
 1   SUBZONA   230606 non-null  int64
 2   MUNIRES   230606 non-null  int64
 3   NOTA      230606 non-null  int64
 4   CONGLOME  230606 non-null  int64
 5   BOLSAO    230606 non-null  int64
 6   SETORES   230606 non-null  int64
 7   ID_DOM    230606 non-null  int64
 8   F_DOM     230606 non-null  int64
 9   FE_DOM    230606 non-null  float64
 10  DOMICIL   230606 non-null  int64
 11  TIPO_DOM  230606 non-null  int64
 12  PESS_FAM  230606 non-null  int64
 13  NAO_RES   230606 non-null  int64
 14  CONDMORA  230606 non-null  int64
 15  ALUGUEL   230606 non-null  int64
 16  F_FAM     230606 non-null  int64
 17  FE_FAM    230606 non-null  float64
 18  NO_FAM    230606 non-null  int64
 19  TOT_FAM   230606 non-null  int64
 20  QT_AUTO   230606 non-null  int64
 21  CODRENDF  230606 non-null  int64
 22  REDFAM    230606 non-null  int64
 23  F_PESS    230606 non-null  int64
 24  FE_PESS   230606 non-null  float64
 25  PESSOA    230606 non-null  int64
 26  SIT_FAM   230605 non-null  float64
 27  IDADE     230605 non-null  float64
 28  SEXO      230606 non-null  int64
 29  GRAU_INS  230606 non-null  int64
 30  OCUPACAO  230606 non-null  int64
 31  RAMOATIV  230606 non-null  int64
 32  CO_REN_I  230606 non-null  int64
 33  VL_REN_I  230606 non-null  int64
 34  ZONAESC1  230606 non-null  int64
 35  SUBESC1   230606 non-null  int64
 36  MUNIESC1  230216 non-null  float64
 37  ZONAESC2  230606 non-null  int64
 38  SUBESC2   230606 non-null  int64
 39  ZONATRA1  230606 non-null  int64
 40  SUBTRA1   230606 non-null  int64
 41  MUNITRA1  229931 non-null  float64
 42  ZONATRA2  230606 non-null  int64
 43  SUBTRA2   230606 non-null  int64
 44  MUNITRA2  230537 non-null  float64
 45  ID_VIAGE  230606 non-null  int64
 46  FE_VIA    230606 non-null  float64
 47  ZONAO     230606 non-null  int64
 48  SUBOR     230606 non-null  int64
 49  MUNIORIG  230538 non-null  float64
 50  BOLSAOOR  230606 non-null  int64
 51  SETOROR   230606 non-null  int64
 52  ZONAD     230606 non-null  int64
 53  SUBDES    230606 non-null  int64
 54  MUNIDEST  230535 non-null  float64
 55  BOLSAODE  230606 non-null  int64
 56  SETORDE   230606 non-null  int64
 57  MOTIVO_O  230606 non-null  int64
 58  MOTIVO_D  230606 non-null  int64
 59  MODO1     230606 non-null  int64
 60  MODO2     230606 non-null  int64
 61  MODO3     230605 non-null  float64
 62  MODOPRIN  230606 non-null  int64
 63  TIPO_VG   230606 non-null  int64
 64  HSAIDA    230606 non-null  int64
 65  MINSAIDA  230606 non-null  int64
 66  ANDA_O    230606 non-null  int64
 67  H_CHEG    230606 non-null  int64
 68  MINCHEG   230604 non-null  float64
 69  ANDA_D    230606 non-null  int64
 70  DURACAO   230606 non-null  int64
 71  TIPOESTC  230606 non-null  int64
 72  CUSTOEST  230606 non-null  int64
 73  PQNAOCAR  230606 non-null  int64
 74  NUMVIAG   230606 non-null  int64
 75  ORDEM     230606 non-null  int64
dtypes: float64(13), int64(63)
memory usage: 133.7 MB

In [17]:
df.head()

,ZONA,SUBZONA,MUNIRES,NOTA,CONGLOME,BOLSAO,SETORES,ID_DOM,F_DOM,FE_DOM,...,ANDA_O,H_CHEG,MINCHEG,ANDA_D,DURACAO,TIPOESTC,CUSTOEST,PQNAOCAR,NUMVIAG,ORDEM
0,1,30,1,2,1,4,36,120001010101,1,24.66,...,1,8,45.0,1,15,0,0,0,1,1
1,1,30,1,2,1,4,36,120001010101,0,24.66,...,1,13,15.0,1,15,0,0,0,2,2
2,1,30,1,2,1,4,36,120001010101,0,24.66,...,0,16,45.0,0,15,0,0,0,3,3
3,1,30,1,2,1,4,36,120001010101,0,24.66,...,0,19,15.0,0,15,0,0,0,4,4
4,1,30,1,2,1,4,36,120001010102,0,24.66,...,0,0,0.0,0,0,0,0,0,0,5

In [18]:
campo_de = 'F_DOM'
campo_para = 'Identifica Primeiro Registro do Domicílio'
tipos = {
    0: 'Registros Complementares do Dom.',
    1: 'Primeiro registro do domicílio'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'TIPO_DOM'
campo_para = 'Tipo de Domicílio'
tipos = {
    1: 'Individual',
    2: 'Coletivo'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'CONDMORA'
campo_para = 'Condição de Moradia'
tipos = {
    1: 'Própria paga',
    2: 'Própria em pagamento',
    3: 'Alugada',
    4: 'Cedida',
    5: 'Outro'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'F_FAM'
campo_para = 'Identifica Primeiro Registro da Família'
tipos = {
    0: 'Demais registros',
    1: 'Primeiro registro da família'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'codrendf'
campo_para = 'Codigo de renda familiar'
tipos = {
    0: 'Respondeu',
    1: 'Não sabe',
    2: 'Não respondeu',
    3: 'Não se aplica'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'f_pess'
campo_para = 'Identifica Primeiro Registro da Pessoa'
tipos = {
    0: 'Demais registros',
    1: 'Primeiro registro da pessoa'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'sit_fam'
campo_para = 'Situação Familiar'
tipos = {
    1: 'Chefe',
    2: 'Cônjuge',
    3: 'Filho(a)',
    4: 'Parente',
    5: 'Agregado',
    6: 'Empregado Residente',
    7: 'Visitante não Res.',
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'grau_ins'
campo_para = 'Grau de Escolariedade'
tipos = {
    1: 'Sem instrução',
    2: 'Primário Incompleto',
    3: 'Primário Completo',
    4: 'Ginasial Incompleto',
    5: 'Ginasial Completo',
    6: 'Colegial Incompleto',
    7: 'Colegial Completo',
    8: 'Universitário Incompleto',
    9: 'Universitário Completo'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'ramoativ'
campo_para = 'Ramo de Atividade'
tipos = {
    1: 'Agrícola',
    2: 'Constr.Civil',
    3: 'Industrial',
    4: 'Comercial',
    5: 'Func.Público',
    6: 'Serv.Transporte',
    7: 'Empr.Serviço',
    8: 'Serv.Autônomos',
    9: 'Outro',
    10: 'Não se Aplica'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'co_ren_i'
campo_para = 'Código de Renda Individual'
tipos = {
    1: 'Tem Renda',
    2: 'Não Tem Renda',
    3: 'Não Declarou'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'id_viage'
campo_para = 'Identificador do Registro de Viagem'
tipos = {
    0: 'Não Tem Viagem',
    1: 'Tem Viagem',
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'MOTIVO_O'
campo_para = 'Motivo na Origem'
tipos = {    
    1: 'Trabalho Indústria',
    2: 'Trabalho Comércio',
    3: 'Trabalho Serviços',
    4: 'Escola/Educação',
    5: 'Compras',
    6: 'Negócios',
    7: 'Médico/Dentista/Saúde',
    8: 'Recreação/Visitas',
    9: 'Servir Passageiro',
    10: 'Residência'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'MOTIVO_D'
campo_para = 'Motivo no Destino'
tipos = {    
    1: 'Trabalho Indústria',
    2: 'Trabalho Comércio',
    3: 'Trabalho Serviços',
    4: 'Escola/Educação',
    5: 'Compras',
    6: 'Negócios',
    7: 'Médico/Dentista/Saúde',
    8: 'Recreação/Visitas',
    9: 'Servir Passageiro',
    10: 'Residência'
}
df[campo_para] = df[campo_de.upper()].map(tipos)


campo_de = 'MODO1'
campo_para = 'Modo 1'
tipos = {
    1: 'Ônibus Trólebus',
    2: 'Ônibus Escolar/Empresa',
    3: 'Dirigindo Automóvel',
    4: 'Passageiro de Automóvel',
    5: 'Táxi',
    6: 'Lotação/Perua',
    7: 'Metrô',
    8: 'Trem',
    9: 'Motocicleta',
    10: 'Bicicleta',
    11: 'A Pé',
    12: 'Outros'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'MODO2'
campo_para = 'Modo 2'
tipos = {
    1: 'Ônibus Trólebus',
    2: 'Ônibus Escolar/Empresa',
    3: 'Dirigindo Automóvel',
    4: 'Passageiro de Automóvel',
    5: 'Táxi',
    6: 'Lotação/Perua',
    7: 'Metrô',
    8: 'Trem',
    9: 'Motocicleta',
    10: 'Bicicleta',
    11: 'A Pé',
    12: 'Outros'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'MODO3'
campo_para = 'Modo 3'
tipos = {
    1: 'Ônibus Trólebus',
    2: 'Ônibus Escolar/Empresa',
    3: 'Dirigindo Automóvel',
    4: 'Passageiro de Automóvel',
    5: 'Táxi',
    6: 'Lotação/Perua',
    7: 'Metrô',
    8: 'Trem',
    9: 'Motocicleta',
    10: 'Bicicleta',
    11: 'A Pé',
    12: 'Outros'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'MODOPRIN'
campo_para = 'Modo Principal'
tipos = {
    1: 'Ônibus Trólebus',
    2: 'Ônibus Escolar/Empresa',
    3: 'Dirigindo Automóvel',
    4: 'Passageiro de Automóvel',
    5: 'Táxi',
    6: 'Lotação/Perua',
    7: 'Metrô',
    8: 'Trem',
    9: 'Motocicleta',
    10: 'Bicicleta',
    11: 'A Pé',
    12: 'Outros'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'tipo_vg'
campo_para = 'Tipo de Viagem'
tipos = {
    1: 'Coletivo',
    2: 'individual',
    3: 'A pé'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'tipoestc'
campo_para = 'Tipo de Estacionamento'
tipos = {
    1: 'Zona Azul/Parquímetro',
    2: 'Estacionamento Avulso',
    3: 'Estacionamento Mensal',
    4: 'Estacionamento Próprio',
    5: 'Meio Fio/Logradouro',
    6: 'Estacionamento Patrocionado',
    7: 'Não Estacionou'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'pqnaocar'
campo_para = 'Código de Não Utilização do Carro'
tipos = {
    1: 'Não Disponível',
    2: 'Estacionamento Caro',
    3: 'Difícil de Estacionar',
    4: 'Condução mais Barata',
    5: 'Condução mais Conveniente',
    6: 'Outros'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

df.tail()

,ZONA,SUBZONA,MUNIRES,NOTA,CONGLOME,BOLSAO,SETORES,ID_DOM,F_DOM,FE_DOM,...,Identificador do Registro de Viagem,Motivo na Origem,Motivo no Destino,Modo 1,Modo 2,Modo 3,Modo Principal,Tipo de Viagem,Tipo de Estacionamento,Código de Não Utilização do Carro
230601,243,327,1,4,1,1,40,24340001040101,0,1.0,...,Tem Viagem,Negócios,Negócios,Dirigindo Automóvel,NaN,NaN,Dirigindo Automóvel,individual,Estacionamento Avulso,NaN
230602,243,327,1,4,1,1,40,24340001040101,0,1.0,...,Tem Viagem,Negócios,Negócios,Dirigindo Automóvel,NaN,NaN,Dirigindo Automóvel,individual,Estacionamento Avulso,NaN
230603,243,327,1,4,1,1,40,24340001040101,0,1.0,...,Tem Viagem,Negócios,Negócios,Dirigindo Automóvel,NaN,NaN,Dirigindo Automóvel,individual,Estacionamento Avulso,NaN
230604,243,327,1,4,1,1,40,24340001040102,0,1.0,...,Não Tem Viagem,NaN,NaN,NaN,NaN,NaN,NaN,A pé,NaN,NaN
230605,243,327,1,4,1,1,40,24340001040102,0,1.0,...,Não Tem Viagem,NaN,NaN,NaN,NaN,NaN,NaN,A pé,NaN,NaN

In [19]:
ocupacoes = {
    0: 'Não Respondeu',
    1: 'Estudante',
    2: 'Prendas Domésticas',
    3: 'Aposentado',
    4: 'Sem Ocupação, Nunca Trabalhou',
    5: 'Desempregado Temporariamente',
    6: 'Em Licença, Afastado',
    11: 'Serv.Não Espec.: Office-boy, Faxineiro, etc',
    12: 'Serv.Semi-Espec.: Zelador, Telef., Motorista',
    13: 'Escriturário',
    14: 'Comércio: Vendedor, Corretor, etc',
    15: 'Chefe de Serv. Espec.',
    16: 'Nível Superior em Escritório',
    17: 'Empregado c/Nível de gerência',
    18: 'Empregado Nível Superior',
    21: 'Operários Sem Espec.',
    22: 'Operários Semi-Espec.',
    23: 'Oper. Espec.de Oficinas:Técn., Artesões, etc',
    24: 'Operário Espec. (fábrica)',
    25: 'Chefe de Operários Espec.',
    26: 'Trabalhadores Rurais',
    27: 'Trabalhador Rural Nível Capataz',
    31: 'Autônomo Serv: Vendedor, Engraxate, etc',
    32: 'Autônomo Serv. Semi-Espec',
    33: 'Autônomo Nível de Operário Espec.',
    34: 'Autônomo Trab. Intelectual, Mental',
    35: 'Autônomo Téc.Altamente Espec.',
    36: 'Autônomo Nível Universitário',
    41: 'Func.Público Serv. Não Espec.',
    42: 'Func.Público Serv. Semi Espec.',
    43: 'Func.Público Escriturário, Aux.Escrit.',
    44: 'Func.Público Nível Superior, Professores',
    45: 'Func.Público Nível Diretor',
    46: 'Func.Público Altos Cargos Públicos',
    47: 'Func.Público Militares',
    51: 'Sócio/Propr de Pequeno Comércio',
    52: 'Sócio/Propr de Firma Pequena Serviços',
    53: 'Sócio/Propr Micro-Empresa Ind./Com.',
    54: 'Sócio/Propr de Firma Grande/Média de Serv.',
    55: 'Sócio/Propr Empresa Média Ind/Com',
    56: 'Sócio/Propr Empresa Grande Ind/Com',
    57: 'Agricultor Arrendatário Terra',
    58: 'Agricultor Proprietário Terra',
    59: 'Grande Fazendeiro'
}

campo_de = 'OCUPACAO'
campo_para = 'Ocupação Principal'
df[campo_para] = df[campo_de].map(ocupacoes)

df[[
    'OCUPACAO',
    'Ocupação Principal',
]]

        OCUPACAO                 Ocupação Principal
0             14  Comércio: Vendedor, Corretor, etc
1             14  Comércio: Vendedor, Corretor, etc
2             14  Comércio: Vendedor, Corretor, etc
3             14  Comércio: Vendedor, Corretor, etc
4              2                 Prendas Domésticas
...          ...                                ...
230601        55  Sócio/Propr Empresa Média Ind/Com
230602        55  Sócio/Propr Empresa Média Ind/Com
230603        55  Sócio/Propr Empresa Média Ind/Com
230604         2                 Prendas Domésticas
230605         2                 Prendas Domésticas

[230606 rows x 2 columns]

In [20]:
municipios = {
    1: 'São Paulo',
    2: 'Cajamar',
    3: 'Caieiras',
    4: 'Franco da Rocha',
    5: 'Francisco Morato',
    6: 'Mairiporã',
    7: 'Guarulhos',
    8: 'Arujá',
    9: 'Santa Isabel',
    10: 'Itaquaquecetuba',
    11: 'Ferraz de Vasconcelos',
    12: 'Poá',
    13: 'Suzano',
    14: 'Mogi das Cruzes',
    15: 'Guararema',
    16: 'Biritiba-Mirim',
    17: 'Salesópolis',
    18: 'Mauá',
    19: 'Ribeirão Pires',
    20: 'Rio Grande da Serra',
    21: 'Santo André',
    22: 'São Caetano do Sul',
    23: 'São Bernardo do Campo',
    24: 'Diadema',
    25: 'Embu-Guaçú',
    26: 'Taboão da Serra',
    27: 'Embu',
    28: 'Itapecerica da Serra',
    29: 'Juquitiba',
    30: 'Cotia',
    31: 'Vargem Grande Ppaulista',
    32: 'Osasco',
    33: 'Carapicuiba',
    34: 'Barueri',
    35: 'Jandira',
    36: 'Itapevi',
    37: 'Santana do Parnaíba',
    38: 'Pirapora do Bom Jesus',
    99: 'Munício Externo'
}

campo_de = 'MUNIDEST'
campo_para = 'Município de Destino'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNIESC1'
campo_para = 'Município da Escola'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNIORIG'
campo_para = 'Município de Origem'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNIRES'
campo_para = 'Município do Domicílio'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNITRA1'
campo_para = 'Município do Primeiro Trabalho'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNITRA2'
campo_para = 'Município do Segundo Trabalho'
df[campo_para] = df[campo_de].map(municipios)


df[[
    'MUNIESC1',
    'Município da Escola',
    'MUNIDEST',
    'Município de Destino',
    'MUNIORIG',
    'Município de Origem',
    'MUNIRES',
    'Município do Domicílio',
    'MUNITRA1',
    'Município do Primeiro Trabalho',
    'MUNITRA2',
    'Município do Segundo Trabalho'
]]

,MUNIESC1,Município da Escola,MUNIDEST,Município de Destino,MUNIORIG,Município de Origem,MUNIRES,Município do Domicílio,MUNITRA1,Município do Primeiro Trabalho,MUNITRA2,Município do Segundo Trabalho
0,0.0,NaN,1.0,São Paulo,1.0,São Paulo,1,São Paulo,1.0,São Paulo,0.0,NaN
1,0.0,NaN,1.0,São Paulo,1.0,São Paulo,1,São Paulo,1.0,São Paulo,0.0,NaN
2,0.0,NaN,1.0,São Paulo,1.0,São Paulo,1,São Paulo,1.0,São Paulo,0.0,NaN
3,0.0,NaN,1.0,São Paulo,1.0,São Paulo,1,São Paulo,1.0,São Paulo,0.0,NaN
4,0.0,NaN,0.0,NaN,0.0,NaN,1,São Paulo,0.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
230601,0.0,NaN,1.0,São Paulo,1.0,São Paulo,1,São Paulo,1.0,São Paulo,0.0,NaN
230602,0.0,NaN,1.0,São Paulo,1.0,São Paulo,1,São Paulo,1.0,São Paulo,0.0,NaN
230603,0.0,NaN,1.0,São Paulo,1.0,São Paulo,1,São Paulo,1.0,São Paulo,0.0,NaN
230604,0.0,NaN,0.0,NaN,0.0,NaN,1,São Paulo,0.0,NaN,0.0,NaN
230605,0.0,NaN,0.0,NaN,0.0,NaN,1,São Paulo,0.0,NaN,0.0,NaN

In [21]:
df_renomeado = df.rename(columns={
    'ZONA': 'ZONA - Zona do Domicílio',
    'MUNI_DOM': 'MUNI_DOM - Município de Domicílio',
    'CO_DOM_X': 'CO_DOM_X - Coordenada X Domicílio',
    'CO_DOM_Y': 'CO_DOM_Y - Coordenada Y Domicílio',
    'ID_DOM': 'ID_DOM - Identifica Domicílio',
    'F_DOM': 'F_DOM - Identifica Primeiro Registro do Domicílio',
    'FE_DOM': 'FE_DOM - Fator de Expansão do Domicílio',
    'DOM': 'DOM - Número do Domicílio',
    'CD_ENTRE': 'CD_ENTRE - Código de Entrevista',
    'DATA': 'DATA - Data da Entrevista',
    'TIPO_DOM': 'TIPO_DOM - Tipo de Domicílio',
    'AGUA': 'AGUA - Possui água encanada?',
    'RUA_PAVI': 'RUA_PAVI - A rua é pavimentada?',
    'NO_MORAD': 'NO_MORAD - Total de Moradores no Domicílio',
    'TOT_FAM': 'TOT_FAM - Total de Familias no Domicílio',
    'ID_FAM': 'ID_FAM - Identifica Família',
    'F_FAM': 'F_FAM - Identifica Primeiro Registro da Família',
    'FE_FAM': 'FE_FAM - Fator de Expansão da Família',
    'FAMILIA': 'FAMILIA - Número da Família',
    'NO_MORAF': 'NO_MORAF - Total de Moradores na Família',
    'CONDMORA': 'CONDMORA - Condição de Moradia',
    'QT_BANHO': 'QT_BANHO - Banheiros',
    'QT_EMPRE': 'QT_EMPRE - Empregados Domésticos',
    'QT_AUTO': 'QT_AUTO - Automóveis',
    'QT_MICRO': 'QT_MICRO - Microcomputadores',
    'QT_LAVALOU': 'QT_LAVALOU - Máquinas de Lava louças',
    'QT_GEL1': 'QT_GEL1 - Geladeiras de uma porta',
    'QT_GEL2': 'QT_GEL2 - Geladeiras de duas portas',
    'QT_FREEZ': 'QT_FREEZ - Freezers',
    'QT_MLAVA': 'QT_MLAVA - Máquinas de Lavar roupa',
    'QT_DVD': 'QT_DVD - DVDs',
    'QT_MICROON': 'QT_MICROON - Microondas',
    'QT_MOTO': 'QT_MOTO - Motos',
    'QT_SECAROU': 'QT_SECAROU - Secadora de roupas',
    'QT_BICICLE': 'QT_BICICLE - Bicicletas',
    'NAO_DCL_IT': 'NAO_DCL_IT - Código de Declaração de Itens de Conforto',
    'CRITERIOBR': 'CRITERIOBR - Critério de Classificação Econômica Brasil',
    'PONTO_BR': 'PONTO_BR - Pontos Critério Brasil',
    'ANO_AUTO1': 'ANO_AUTO1 - Ano Fabricação do Auto 1',
    'ANO_AUTO2': 'ANO_AUTO2 - Ano Fabricação do Auto 2',
    'ANO_AUTO3': 'ANO_AUTO3 - Ano Fabricação do Auto 3',
    'RENDA_FA': 'RENDA_FA - Renda Familiar Mensal',
    'CD_RENFA': 'CD_RENFA - Código de Renda Familiar Mensal',
    'ID_PESS': 'ID_PESS - Identifica Pessoa',
    'F_PESS': 'F_PESS - Identifica Primeiro Registro da Pessoa',
    'FE_PESS': 'FE_PESS - Fator de Expansão da Pessoa',
    'PESSOA': 'PESSOA - Número da Pessoa',
    'SIT_FAM': 'SIT_FAM - Situação Familiar',
    'IDADE': 'IDADE - Idade',
    'SEXO': 'SEXO - Sexo',
    'ESTUDA': 'ESTUDA - Estuda Atualmente?',
    'GRAU_INS': 'GRAU_INS - Grau de Instrução',
    'CD_ATIVI': 'CD_ATIVI - Condição de Atividade',
    'CO_REN_I': 'CO_REN_I - Condição de Renda Individual',
    'VL_REN_I': 'VL_REN_I - Renda Individual',
    'ZONA_ESC': 'ZONA_ESC - Zona da Escola',
    'MUNIESC': 'MUNIESC - Município da Escola',
    'CO_ESC_X': 'CO_ESC_X - Coordenada X Escola',
    'CO_ESC_Y': 'CO_ESC_Y - Coordenada Y Escola',
    'TIPO_ESC': 'TIPO_ESC - Tipo de Escola',
    'ZONATRA1': 'ZONATRA1 - Zona do Primeiro Trabalho',
    'MUNITRA1': 'MUNITRA1 - Município do Primeiro Trabalho',
    'CO_TR1_X': 'CO_TR1_X - Coordenada X 1º Trabalho',
    'CO_TR1_Y': 'CO_TR1_Y - Coordenada Y 1º Trabalho',
    'TRAB1_RE': 'TRAB1_RE - Primeiro Trabalho é igual a Residência ?',
    'TRABEXT1': 'TRABEXT1 - Realiza Trabalho Externo-1º Trabalho',
    'OCUP1': 'OCUP1 - Ocupação do 1º Trabalho',
    'SETOR1': 'SETOR1 - Setor de Atividade do 1º Trabalho',
    'VINC1': 'VINC1 - Vínculo Empregatício do 1º Trabalho',
    'ZONATRA2': 'ZONATRA2 - Zona do 2º Trabalho',
    'MUNITRA2': 'MUNITRA2 - Município do 2º Trabalho',
    'CO_TR2_X': 'CO_TR2_X - Coordenada X 2º Trabalho',
    'CO_TR2_Y': 'CO_TR2_Y - Coordenada Y 2º Trabalho',
    'TRAB2_RE': 'TRAB2_RE - Segundo Trabalho é igual a Residência ?',
    'TRABEXT2': 'TRABEXT2 - Realiza Trabalho Externo-2º Trabalho',
    'OCUP2': 'OCUP2 - Ocupação do 2º Trabalho',
    'SETOR2': 'SETOR2 - Setor de Atividade do 2º Trabalho',
    'VINC2': 'VINC2 - Vínculo Empregatício do 2º Trabalho',
    'N_VIAG': 'N_VIAG - Número da Viagem',
    'FE_VIA': 'FE_VIA - Fator de Expansão da Viagem',
    'DIA_SEM': 'DIA_SEM - Dia da Semana',
    'TOT_VIAG': 'TOT_VIAG - Total de Viagens da Pessoa',
    'ZONA_O': 'ZONA_O - Zona de Origem',
    'MUNI_O': 'MUNI_O - Município de Origem',
    'CO_O_X': 'CO_O_X - Coordenada X Origem',
    'CO_O_Y': 'CO_O_Y - Coordenada Y Origem',
    'ZONA_D': 'ZONA_D - Zona de Destino',
    'MUNI_D': 'MUNI_D - Município de Destino',
    'CO_D_X': 'CO_D_X - Coordenada X Destino',
    'CO_D_Y': 'CO_D_Y - Coordenada Y Destino',
    'ZONA_T1': 'ZONA_T1 - Zona da 1ª Transferência',
    'MUNI_T1': 'MUNI_T1 - Município 1ª Transferência',
    'CO_T1_X': 'CO_T1_X - Coordenada X 1ª Transferência',
    'CO_T1_Y': 'CO_T1_Y - Coordenada Y 1ª Transferência',
    'ZONA_T2': 'ZONA_T2 - Zona da 2ª Transferência',
    'MUNI_T2': 'MUNI_T2 - Município 2ª Transferência',
    'CO_T2_X': 'CO_T2_X - Coordenada X 2ª Transferência',
    'CO_T2_Y': 'CO_T2_Y - Coordenada Y 2ª Transferência',
    'ZONA_T3': 'ZONA_T3 - Zona da 3ª Transferência',
    'MUNI_T3': 'MUNI_T3 - Município 3ª Transferência',
    'CO_T3_X': 'CO_T3_X - Coordenada X 3ª Transferência',
    'CO_T3_Y': 'CO_T3_Y - Coordenada Y 3ª Transferência',
    'MOTIVO_O': 'MOTIVO_O - Motivo na Origem',
    'MOTIVO_D': 'MOTIVO_D - Motivo no Destino',
    'MOT_SRES': 'MOT_SRES - Motivo no Destino sem Residência',
    'SERVIR_O': 'SERVIR_O - Servir Passageiro na Origem',
    'SERVIR_D': 'SERVIR_D - Servir Passageiro no Destino',
    'MODO1': 'MODO1 - Modo 1',
    'MODO2': 'MODO1 - Modo 2',
    'MODO3': 'MODO1 - Modo 3',
    'MODO4': 'MODO1 - Modo 4',
    'H_SAIDA': 'H_SAIDA - Hora de Saída',
    'MIN_SAIDA': 'MIN_SAIDA - Minuto de Saída',
    'ANDA_O': 'ANDA_O - Tempo Andando na Origem',
    'H_CHEG': 'H_CHEG - Hora de Chegada',
    'MIN_CHEG': 'MIN_CHEG - Minuto de Chegada',
    'ANDA_D': 'ANDA_D - Tempo Andando no Destino',
    'DURACAO': 'DURACAO - Duração da Viagem (em minutos)',
    'MODOPRIN': 'MODOPRIN - Modo Principal',
    'TIPVG': 'TIPVG - Tipo de Viagem',
    'PAG_VIAG': 'PAG_VIAG - Quem Pagou a Viagem',
    'TP_ESAUTO': 'TP_ESAUTO - Tipo de Estacionamento do Automóvel ou Moto',
    'VL_EST': 'VL_EST - Valor do Estacionamento do Automóvel ou Moto',
    'PE_BICI': 'PE_BICI - Por Que Viajou A Pé ou Bicicleta',
    'VIA_BICI': 'VIA_BICI - Se viajou de bicicleta, usou via segregada?',
    'TP_ESBICI': 'TP_ESBICI - Estacionamento Bicicleta',
    'DISTANCIA': 'DISTANCIA - Distância em metros*',
    'ID_ORDEM': 'ID_ORDEM - Número de Ordem do Registro',
})
df_renomeado.columns

Index(['ZONA - Zona do Domicílio', 'SUBZONA', 'MUNIRES', 'NOTA', 'CONGLOME',
       'BOLSAO', 'SETORES', 'ID_DOM - Identifica Domicílio',
       'F_DOM - Identifica Primeiro Registro do Domicílio',
       'FE_DOM - Fator de Expansão do Domicílio',
       ...
       'Tipo de Viagem', 'Tipo de Estacionamento',
       'Código de Não Utilização do Carro', 'Ocupação Principal',
       'Município de Destino', 'Município da Escola', 'Município de Origem',
       'Município do Domicílio', 'Município do Primeiro Trabalho',
       'Município do Segundo Trabalho'],
      dtype='object', length=103)

In [22]:
df_renomeado.head()

,ZONA - Zona do Domicílio,SUBZONA,MUNIRES,NOTA,CONGLOME,BOLSAO,SETORES,ID_DOM - Identifica Domicílio,F_DOM - Identifica Primeiro Registro do Domicílio,FE_DOM - Fator de Expansão do Domicílio,...,Tipo de Viagem,Tipo de Estacionamento,Código de Não Utilização do Carro,Ocupação Principal,Município de Destino,Município da Escola,Município de Origem,Município do Domicílio,Município do Primeiro Trabalho,Município do Segundo Trabalho
0,1,30,1,2,1,4,36,120001010101,1,24.66,...,Coletivo,NaN,NaN,"Comércio: Vendedor, Corretor, etc",São Paulo,NaN,São Paulo,São Paulo,São Paulo,NaN
1,1,30,1,2,1,4,36,120001010101,0,24.66,...,individual,NaN,NaN,"Comércio: Vendedor, Corretor, etc",São Paulo,NaN,São Paulo,São Paulo,São Paulo,NaN
2,1,30,1,2,1,4,36,120001010101,0,24.66,...,A pé,NaN,NaN,"Comércio: Vendedor, Corretor, etc",São Paulo,NaN,São Paulo,São Paulo,São Paulo,NaN
3,1,30,1,2,1,4,36,120001010101,0,24.66,...,A pé,NaN,NaN,"Comércio: Vendedor, Corretor, etc",São Paulo,NaN,São Paulo,São Paulo,São Paulo,NaN
4,1,30,1,2,1,4,36,120001010102,0,24.66,...,A pé,NaN,NaN,Prendas Domésticas,NaN,NaN,NaN,São Paulo,NaN,NaN

In [23]:
df['AA_PESQUISA'] = ano
df_renomeado.to_excel(f'OD_{ano}.xlsx', index=False)
print('Arquivo salvo com sucesso', f'od_{ano}.xlsx')

Arquivo salvo com sucesso od_1977.xlsx